[Unit]
Description=YTaudioExtractApp
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/nimda/yt-audio-extract/extrsvr.js
WorkingDirectory=/home/nimda/yt-audio-extract
Restart=on-failure

[Install]
WantedBy=multi-user.target
