[Unit]
Description=YTaudioExtractApp
After=network.target

[Service]
Type=simple
ExecStart=<path-to-nodejs>/node <path-to-package-install>/extrsvr.js
WorkingDirectory=<path-to-package-install>
Restart=on-failure

[Install]
WantedBy=multi-user.target
