body {
	background-color: #E0F0F0;
	position: relative;
/*	line-height: 2rem;
	margin: 2rem;*/
/*	width: fit-content;*/
}

/* overall layout */
.content {
	line-height: 1.5rem;
	height: calc(100vh - 16px);
	display: flex;
	flex-direction: column;
}

/* various colorations */
.warning {
	color: coral;
	font-size: large;
}

/* navigation */
nav ul {
	padding: 0;
	display: inline;
	list-style-type: none;
	margin: 0;
	display: flex;
	gap: 1rem;
}
.plmnu a {
	color: green;
}

/* dialogs */
dialog {
	margin-top: 8em;
	line-height: 2rem;
	background-color: aliceblue;
	padding: 1rem 1.5rem;
	border: 1px solid #888;
	border-radius: 5px;
	box-shadow: 2px 2px 8px #BBB;
}
dialog[open]::backdrop {
	background-color: rgba(120,120,120,0.4);
	@starting-style {
		background-color: rgba(255,255,255,0);
	}
}
dialog .closex {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 1;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	color: #888;
}
dialog .closex i {
	vertical-align: middle;
}
dialog h3 {margin-top:0}
dialog .btns {
	display: flex;
	justify-content: space-between;
	gap: .5rem;
	margin-top: 1rem;
}

/*===========*/
input, label, span {
	font-size: large;
}
form [type="checkbox"], form [type="radio"] {
	height:20px; 
	width:20px;
	vertical-align: text-bottom;
}
form i.fa {
	display: none;
}
/*
.yturl {
	width: 50rem;
}
.tname {
	width: 48rem;
}
*/

#hdr {
	font-size: xx-large;
	margin-bottom: 1rem;
	border-bottom: 1px solid #AAA;
	padding-bottom: 0.5rem;
}
#hdr i {float:right}
#plists {
	display: flex;
	flex-wrap: wrap;
}
.plst {
	display: inline-block;
	text-align: center;
	border: 1px solid #33F;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: aliceblue;
}
.plst.activ {
	background-color: khaki;
}
.plst-ttl {font-size: x-large}

#playlists input[type='checkbox'] {
	vertical-align: text-bottom;
	margin-right: .5rem;
}

/* LOCAL AUDIO */
#localAudio {
	display: none;
	background-color: lavender;
	border-bottom: 1px solid #CCC;
	padding: 0 .75rem;
}
#localAudio audio {
	height: 30px;
	vertical-align: middle;
	margin: 0 .5rem;
/*	width: 100%;
	display: none;*/
}
#localAudio i {
	vertical-align: middle;
}
i.lplay {
	font-size: large;
	vertical-align: middle;
	color: green;
	cursor: pointer;
}

/* ADMIN */
/* Style the tab */
.tab {
/*	overflow: hidden;
	overflow-x: scroll;*/
	border-bottom: 1px solid #CCC;
/*	background-color: #f1f1f1;*/
	display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: #f1f1f1;
/*	float: left;*/
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border: 1px solid #CCC;
	border-bottom: none;
	margin-right: -1px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* the panels enclosure*/
.panels {
/*	padding: .75rem;*/
	height: 100%;
	border: 1px solid #ccc;
	border-top: none;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: .75rem;
/*	border: 1px solid #ccc;
	border-top: none;*/
}

/* stream selector */
#sseld {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1.5rem 1rem 1rem 1rem;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 2px 2px 8px #BBB;
}
#sselt {
	border-collapse: collapse;
}
#sselt th, #sselt td {padding:4px;text-align:left}
#sselt tr:nth-child(even) {background-color:lavender}
#sselt tr:first-child {color:indigo}


/* MPD control area*/
.mpdcontrols {
	padding: 0 .75rem;
	color: blue;
	background-color: lavender;
	border-bottom: 1px solid #CCC;
}
.mpdcontrols i {
	margin-right: .5rem;
	cursor: pointer;
}
#mpdvolume {
	height: 4px;
	width: 80px;
	vertical-align: middle;
}
.volume-control {
	display: inline-block;
	float: right;
}
.volume-control i {
	margin-right: 0;
}

/* Marquis of current stream and track*/
.marquis {
	padding: 0 .75rem;
	background-color: lavender;
	border-bottom: 1px solid #CCC;
}
.curstrm, .curtrk {
	color: maroon;
	font-size: larger;
	vertical-align: middle;
}

/* Service bar */
.service {
	display: flex;
	justify-content: space-between;
	background-color: #CCC;
	padding: 1px 4px;
	margin: 0 -4px 2px -4px;
}
.service-l {
}
.service-r {
}
.service-r i:hover {
	color: sienna;;
}


/* Web Radio */
/*
#radcrumbs {
	border-bottom: 1px solid #555;
	padding-bottom: .5rem;
}
#radcrumbs i {
	float: right;
	margin-left: 1rem;
	font-size: larger;
	color: gray;
	cursor: pointer;
}
#radcrumbs i:hover {
	color: magenta;
}
*/
/*
.rad-link {
	line-height: 1.5rem;
}
.rad-station img {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	margin: 2px 6px 2px 0;
	cursor: pointer;
}
.rheader {
	background-color: gold;
	font-size: x-large;
	text-align: center;
}
*/

/* Calm Radio */
#calm {
	display: flex;
	flex-wrap: wrap;
}
#calm .calm-link {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#calm .calm-play, #calm .calm-noplay {
	position: relative;
	margin-bottom: 1.8rem;
	margin-right: .5em;
}
#calm .calm-play i {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: aliceblue;
	padding: 1px 2px;
}
#calm .calm-play a, #calm .calm-noplay span {
	position: absolute;
	left: 50%;
	padding: 0 1rem;
	background-color: #E0F0F0;
	transform: translate(-50%);
	bottom: -1.2rem;
/*	white-space: nowrap;*/
}
#calm img {
	width: 300px;
	height: 300px;
}
#calm img.noplay {
	opacity: 0.3;
}

/* pandora */
#pandoraTab {
	position: relative;
}
#albumart {
	display: none;
/*	position: absolute;
	top: 0;
	right: 0;*/
	width: 50%;
	height: fit-content;
	padding: .5em;
	background-color: aliceblue;
}
#albumart .prevnext {
	display: flex;
	justify-content: space-between;
	margin-bottom: .4em;
	font-size: larger;
}
#albumart img {
	object-fit: contain;
	width: 100%;
}
#albumart dl {
	line-height: 1.4rem;
	margin: 0;
	display: grid;
	grid-template-columns: max-content;
}
#albumart dt {
	text-align: right;
	margin-right: 8px;
}
#albumart dd {
	grid-column-start: 2;
	margin-left: 0;
	color: blue;
}

/* filemanager */
#filemanTab {
	min-height: 480px;
}
.fmenu a {
	margin-left: .3rem;
	color: green;
}
.fmenu a:visited {
	color: green;
}
.fmnav {
	margin-left: .3rem;
}
.fmnav .isdir {
	color: gray;
}
table {
	line-height: 1rem;
}
table .fa {
	width: 1.7rem;
}
#fileman tbody>tr>:nth-child(3) {
	text-align: right;
}
#fileman tbody>tr>:nth-child(4) {
	text-align: right;
}
.isdir, .isfil {
	cursor: pointer;
}
.d-icn {
	color: teal;
	font-size: large;
}
#fvewd {
	position: absolute;
	/*width: 480px;
	height: 294px;*/
	min-width: 600px;
	width: 90%;
	height: 90%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 2px 2px 8px #BBB;
	padding-top: 24px;
}
#fvewd span {
	position: absolute;
	top: 0;
	left: 5px;
	line-height: 24px;
	font-size: medium;
}
#fvewd i, #sseld i {
	position: absolute;
	top: 5px;
	right: 6px;
	cursor: pointer;
	color: #888;
}
#fvewf {
	height: 100%;
	width: 100%;
	border: none;
}

/* ============================ file upload dialog with drag and drop
*/
.pbwrp {
	position:relative;
	border:1px solid #BBB;
	border-radius:3px;
	boxsizing:border-box;
}
.normpb, .chnkpb, .indeterm {
	position: absolute;
	width:0;
	min-height:100%;
/*	z-index:-1;*/
}
.normpb { background-color:#AAD7FD; }
.chnkpb { background-color:#D9D2FF; }
.indeterm { background: #efefef url(indtrm.gif) repeat-x top; }
.pbfinf {
	padding: 3px 4px;
	position:relative;
	z-index: 1;
}
.pbfinf.failure {background-color: #F99}
.pbfinf.success {background-color: #CFC}


div.uplddlog {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 400px;
	padding: 6px;
	background-color: #CEF;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 0 5px #AAA;
}
div.uplddlog input { width: 100% }
#dropArea {
	border: 1px dashed #CCC;
	width: 100%;
	padding: .5em 0;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	cursor: auto;
}
#dropArea.hover {
	background-color: #DFD;
	border: 1px solid #999;
	box-shadow: inset 2px 2px 3px #999;
}
.prgwrp {
	border: 1px solid #BBB;
	border-radius: 3px;
}
#totprogress {
	width: 0;
	height: 8px;
	background-color: blue;
/*	background: #eee url("../imgs/progress_t.png") 100% 0 no-repeat;*/
}
#fprogress p {
	display: block;
	padding: 0 0 0 4px;
	line-height: 1.4em;
	margin: 2px 0;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 0.9em;
	background: #eee url("../imgs/progress_f.png") 100% 0 no-repeat;
}
#fprogress p.success {
	background: #0C0 none 0 0 no-repeat;
}
#fprogress p.failure {
	background: #F99 none 0 0 no-repeat;
}
#fprogress .abortX {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}

/* ============================ file combine/convert dialog
*/
.dlogs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #9992;
	display: none;
}
.dlogs > div {
	display: none;
}

#utldlg {
	min-width: 400px;
}


.modl {
	position: absolute;
	width: fit-content;
	top: 120px;
	background-color: lightcyan;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1rem;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 0 0 5px #AAA;
}
.modl h4 {
	margin: 0;
}
.modl input {
	width: 20rem;
}
.modl select {
	font-size: medium;
}
.modl button {
	float: right;
	margin-left: 1rem;
}
.modl i.left {
	float: left;
}
/*
#plmnu {
	position: absolute;
	width: fit-content;
	top: 120px;
	background-color: lightcyan;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1rem;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 0 0 5px #AAA;
}
#plmnu h4 {
	margin: 0;
}
#plmnu input {
	width: 20rem;
}
#plmnu button {
	float: right;
	margin-left: 1rem;
}
*/
