body {
	background-color: #E0F0F0;
	line-height: 2rem;
	margin: 2rem;
	width: fit-content;
}
input, label, span {
	font-size: large;
}
form [type="checkbox"], form [type="radio"] {
	height:20px; 
	width:20px;
	vertical-align: text-bottom;
}
form i.fa {
	display: none;
}
.yturl {
	width: 50rem;
}
.tname {
	width: 48rem;
}

#hdr {
	font-size: xx-large;
	margin-bottom: 1rem;
	border-bottom: 1px solid #AAA;
	padding-bottom: 0.5rem;
}
#hdr i {float:right}
#plists {
	display: flex;
	flex-wrap: wrap;
}
.plst {
	display: inline-block;
	text-align: center;
	border: 1px solid #33F;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: aliceblue;
}
.plst.activ {
	background-color: khaki;
}
.plst-ttl {font-size: x-large}

/* ADMIN */
/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
/*	background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: #f1f1f1;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-right: 1px solid #DDD;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 1rem;
	border: 1px solid #ccc;
	border-top: none;
}

/* filemanager */
.fmenu a {
	margin-left: .3rem;
	color: green;
}
.fmenu a:visited {
	color: green;
}
.fmnav {
	margin-left: .3rem;
}
.fmnav .isdir {
	color: gray;
}
table {
	line-height: 1rem;
}
table .fa {
	width: 1.7rem;
}
.isdir, .isfil {
	cursor: pointer;
}
.d-icn {
	color: teal;
	font-size: large;
}
#fvewd {
	position: absolute;
	/*width: 480px;
	height: 294px;*/
	width: 80%;
	height: 80%;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 2px 2px 8px #BBB;
	padding-top: 24px;
}
#fvewd span {
	position: absolute;
	top: 0;
	left: 5px;
	line-height: 24px;
	font-size: medium;
}
#fvewd i {
	position: absolute;
	top: 5px;
	right: 6px;
	cursor: pointer;
	color: #888;
}
#fvewf {
	height: 100%;
	width: 100%;
	border: none;
}

/* ============================ file upload dialog with drag and drop
*/

.pbwrp {
	position:relative;
	border:1px solid #BBB;
	border-radius:3px;
	boxsizing:border-box;
}
.normpb, .chnkpb, .indeterm {
	position: absolute;
	width:0;
	min-height:100%;
/*	z-index:-1;*/
}
.normpb { background-color:#AAD7FD; }
.chnkpb { background-color:#D9D2FF; }
.indeterm { background: #efefef url(indtrm.gif) repeat-x top; }
.pbfinf {
	padding: 3px 4px;
	position:relative;
	z-index: 1;
}
.pbfinf.failure {background-color: #F99}
.pbfinf.success {background-color: #CFC}


div.uplddlog {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 400px;
	padding: 6px;
	background-color: #CEF;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 0 5px #AAA;
}
div.uplddlog input { width: 100% }
#dropArea {
	border: 1px dashed #CCC;
	width: 100%;
	padding: .5em 0;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	cursor: auto;
}
#dropArea.hover {
	background-color: #DFD;
	border: 1px solid #999;
	box-shadow: inset 2px 2px 3px #999;
}
.prgwrp {
	border: 1px solid #BBB;
	border-radius: 3px;
}
#totprogress {
	width: 0;
	height: 8px;
	background-color: blue;
/*	background: #eee url("../imgs/progress_t.png") 100% 0 no-repeat;*/
}
#fprogress p {
	display: block;
	padding: 0 0 0 4px;
	line-height: 1.4em;
	margin: 2px 0;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 0.9em;
	background: #eee url("../imgs/progress_f.png") 100% 0 no-repeat;
}
#fprogress p.success {
	background: #0C0 none 0 0 no-repeat;
}
#fprogress p.failure {
	background: #F99 none 0 0 no-repeat;
}
#fprogress .abortX {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}
